In [8]:
import os
BASE_PATH = "/content/drive/MyDrive/hospital_directory_emergency_theoretical.csv"
DATA_PATH = BASE_PATH

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv(BASE_PATH)
df.head()

/tmp/ipython-input-2495977729.py:1: DtypeWarning: Columns (29,30,31,32,40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(BASE_PATH)

,Sr_No,Location_Coordinates,Location,Hospital_Name,Hospital_Category,Hospital_Care_Type,Discipline_Systems_of_Medicine,Address_Original_First_Line,State,District,...,Number_Doctor,Num_Mediconsultant_or_Expert,Total_Num_Beds,Number_Private_Wards,Num_Bed_for_Eco_Weaker_Sec,Empanelment_or_Collaboration_with,Emergency_Services,Tariff_Range,State_ID,District_ID
0,1,"11.6357989, 92.7120575",Near Dollygunj Junction,Chakraborty Multi Speciality Hospital,0,Hospital,Allopathic,Near Dollygunj Junction,Andaman and Nicobar Islands,South Andaman,...,79.0,22.0,0,43.0,44.0,20.0,"ICU, Emergency Ward",15.0,35,640
1,2,"11.8311681, 92.6586401",Medical Board Office,Inhs Dhanvantri,0,0,Allopathic,Medical Board Office,Andaman and Nicobar Islands,South Andaman,...,67.0,43.0,0,12.0,21.0,58.0,"ICU, Blood Bank",82.0,35,640
2,3,"11.8311681, 92.6586401",Near Masjid,Maricar Hospital,0,Hospital,Allopathic,Near Masjid,Andaman and Nicobar Islands,South Andaman,...,24.0,52.0,0,95.0,83.0,62.0,"Emergency Ward, Trauma Care",57.0,35,640
3,4,"11.6498468, 92.7294624","Lamba Line, P.B. No. 526",Pillar Health Centre,0,0,Allopathic,"Lamba Line, P.B. No. 526",Andaman and Nicobar Islands,South Andaman,...,21.0,44.0,0,46.0,43.0,22.0,"Emergency Ward, Trauma Care",5.0,35,640
4,5,"11.6233774, 92.7264828","GB Pant Road, City Centre, Port Blair","G B Pant Hospital, Port Blair",Public/ Government,Hospital,Allopathic,"GB Pant Road, City Centre, Port Blair",Andaman and Nicobar Islands,South Andaman,...,NaN,NaN,0,NaN,NaN,NaN,"ICU, Emergency Ward, Blood Bank",NaN,35,640

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30273 entries, 0 to 30272
Data columns (total 48 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sr_No                              30273 non-null  int64
 1   Location_Coordinates               10951 non-null  object
 2   Location                           30270 non-null  object
 3   Hospital_Name                      30273 non-null  object
 4   Hospital_Category                  30273 non-null  object
 5   Hospital_Care_Type                 30273 non-null  object
 6   Discipline_Systems_of_Medicine     30273 non-null  object
 7   Address_Original_First_Line        29818 non-null  object
 8   State                              30273 non-null  object
 9   District                           30272 non-null  object
 10  Subdistrict                        30273 non-null  object
 11  Pincode                            30272 non-null  object
 12  Telephone                          30272 non-null  object
 13  Mobile_Number                      30270 non-null  object
 14  Emergency_Num                      30193 non-null  object
 15  Ambulance_Phone_No                 30273 non-null  object
 16  Bloodbank_Phone_No                 30273 non-null  object
 17  Foreign_pcare                      30273 non-null  object
 18  Tollfree                           30273 non-null  object
 19  Helpline                           30273 non-null  object
 20  Hospital_Fax                       30263 non-null  object
 21  Hospital_Primary_Email_Id          30100 non-null  object
 22  Hospital_Secondary_Email_Id        30235 non-null  object
 23  Website                            30233 non-null  object
 24  Specialties                        30050 non-null  object
 25  Facilities                         30084 non-null  object
 26  Accreditation                      29534 non-null  float64
 27  Hospital_Regis_Number              29534 non-null  float64
 28  Registeration_Number_Scan          29535 non-null  float64
 29  Nodal_Person_Info                  29534 non-null  object
 30  Nodal_Person_Tele                  29534 non-null  object
 31  Nodal_Person_Email_Id              29534 non-null  object
 32  Town                               29534 non-null  object
 33  Subtown                            29534 non-null  float64
 34  Village                            29533 non-null  float64
 35  Establised_Year                    29534 non-null  float64
 36  Ayush                              29554 non-null  object
 37  Miscellaneous_Facilities           29534 non-null  float64
 38  Number_Doctor                      29534 non-null  float64
 39  Num_Mediconsultant_or_Expert       29534 non-null  float64
 40  Total_Num_Beds                     30270 non-null  object
 41  Number_Private_Wards               29534 non-null  float64
 42  Num_Bed_for_Eco_Weaker_Sec         29534 non-null  float64
 43  Empanelment_or_Collaboration_with  29534 non-null  float64
 44  Emergency_Services                 30273 non-null  object
 45  Tariff_Range                       29534 non-null  float64
 46  State_ID                           30273 non-null  int64
 47  District_ID                        30273 non-null  int64
dtypes: float64(13), int64(3), object(32)
memory usage: 11.1+ MB

In [12]:
df.describe(include='all')

,Sr_No,Location_Coordinates,Location,Hospital_Name,Hospital_Category,Hospital_Care_Type,Discipline_Systems_of_Medicine,Address_Original_First_Line,State,District,...,Number_Doctor,Num_Mediconsultant_or_Expert,Total_Num_Beds,Number_Private_Wards,Num_Bed_for_Eco_Weaker_Sec,Empanelment_or_Collaboration_with,Emergency_Services,Tariff_Range,State_ID,District_ID
count,30273.000000,10951,30270,30273,30273,30273,30273,29818,30273,30272,...,29534.000000,29534.000000,30270.0,29534.000000,29534.000000,29534.000000,30273,29534.000000,30273.000000,30273.000000
unique,NaN,6453,29105,25850,3,14,10,28672,36,577,...,NaN,NaN,51.0,NaN,NaN,NaN,7,NaN,NaN,NaN
top,NaN,Error,0,Civil Hospital,0,0,0,Station Road,Maharashtra,Mumbai,...,NaN,NaN,0.0,NaN,NaN,NaN,"Emergency Ward, Trauma Care",NaN,NaN,NaN
freq,NaN,108,167,96,28233,28328,28325,29,4807,1308,...,NaN,NaN,16331.0,NaN,NaN,NaN,4443,NaN,NaN,NaN
mean,16726.129323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.366425,52.457066,NaN,52.505147,52.639670,52.412440,NaN,52.797996,21.547980,379.618373
std,9037.758864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.660123,27.701696,NaN,27.727768,27.645617,27.765134,NaN,27.696744,11.529736,198.654320
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,5.000000,NaN,5.000000,5.000000,5.000000,NaN,5.000000,1.000000,2.000000
25%,9341.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.000000,29.000000,NaN,28.000000,29.000000,28.000000,NaN,29.000000,9.000000,158.000000
50%,16910.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.000000,52.000000,NaN,52.000000,52.000000,52.000000,NaN,53.000000,24.000000,474.000000
75%,24480.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.000000,76.000000,NaN,77.000000,77.000000,77.000000,NaN,77.000000,28.000000,536.000000
max,32048.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,NaN,100.000000,100.000000,100.000000,NaN,100.000000,100.000000,653.000000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30273 entries, 0 to 30272
Data columns (total 48 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sr_No                              30273 non-null  int64
 1   Location_Coordinates               10951 non-null  object
 2   Location                           30270 non-null  object
 3   Hospital_Name                      30273 non-null  object
 4   Hospital_Category                  30273 non-null  object
 5   Hospital_Care_Type                 30273 non-null  object
 6   Discipline_Systems_of_Medicine     30273 non-null  object
 7   Address_Original_First_Line        29818 non-null  object
 8   State                              30273 non-null  object
 9   District                           30272 non-null  object
 10  Subdistrict                        30273 non-null  object
 11  Pincode                            30272 non-null  object
 12  Telephone                          30272 non-null  object
 13  Mobile_Number                      30270 non-null  object
 14  Emergency_Num                      30193 non-null  object
 15  Ambulance_Phone_No                 30273 non-null  object
 16  Bloodbank_Phone_No                 30273 non-null  object
 17  Foreign_pcare                      30273 non-null  object
 18  Tollfree                           30273 non-null  object
 19  Helpline                           30273 non-null  object
 20  Hospital_Fax                       30263 non-null  object
 21  Hospital_Primary_Email_Id          30100 non-null  object
 22  Hospital_Secondary_Email_Id        30235 non-null  object
 23  Website                            30233 non-null  object
 24  Specialties                        30050 non-null  object
 25  Facilities                         30084 non-null  object
 26  Accreditation                      29534 non-null  float64
 27  Hospital_Regis_Number              29534 non-null  float64
 28  Registeration_Number_Scan          29535 non-null  float64
 29  Nodal_Person_Info                  29534 non-null  object
 30  Nodal_Person_Tele                  29534 non-null  object
 31  Nodal_Person_Email_Id              29534 non-null  object
 32  Town                               29534 non-null  object
 33  Subtown                            29534 non-null  float64
 34  Village                            29533 non-null  float64
 35  Establised_Year                    29534 non-null  float64
 36  Ayush                              29554 non-null  object
 37  Miscellaneous_Facilities           29534 non-null  float64
 38  Number_Doctor                      29534 non-null  float64
 39  Num_Mediconsultant_or_Expert       29534 non-null  float64
 40  Total_Num_Beds                     30270 non-null  object
 41  Number_Private_Wards               29534 non-null  float64
 42  Num_Bed_for_Eco_Weaker_Sec         29534 non-null  float64
 43  Empanelment_or_Collaboration_with  29534 non-null  float64
 44  Emergency_Services                 30273 non-null  object
 45  Tariff_Range                       29534 non-null  float64
 46  State_ID                           30273 non-null  int64
 47  District_ID                        30273 non-null  int64
dtypes: float64(13), int64(3), object(32)
memory usage: 11.1+ MB

In [14]:
df.describe(include='all')

,Sr_No,Location_Coordinates,Location,Hospital_Name,Hospital_Category,Hospital_Care_Type,Discipline_Systems_of_Medicine,Address_Original_First_Line,State,District,...,Number_Doctor,Num_Mediconsultant_or_Expert,Total_Num_Beds,Number_Private_Wards,Num_Bed_for_Eco_Weaker_Sec,Empanelment_or_Collaboration_with,Emergency_Services,Tariff_Range,State_ID,District_ID
count,30273.000000,10951,30270,30273,30273,30273,30273,29818,30273,30272,...,29534.000000,29534.000000,30270.0,29534.000000,29534.000000,29534.000000,30273,29534.000000,30273.000000,30273.000000
unique,NaN,6453,29105,25850,3,14,10,28672,36,577,...,NaN,NaN,51.0,NaN,NaN,NaN,7,NaN,NaN,NaN
top,NaN,Error,0,Civil Hospital,0,0,0,Station Road,Maharashtra,Mumbai,...,NaN,NaN,0.0,NaN,NaN,NaN,"Emergency Ward, Trauma Care",NaN,NaN,NaN
freq,NaN,108,167,96,28233,28328,28325,29,4807,1308,...,NaN,NaN,16331.0,NaN,NaN,NaN,4443,NaN,NaN,NaN
mean,16726.129323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.366425,52.457066,NaN,52.505147,52.639670,52.412440,NaN,52.797996,21.547980,379.618373
std,9037.758864,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.660123,27.701696,NaN,27.727768,27.645617,27.765134,NaN,27.696744,11.529736,198.654320
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.000000,5.000000,NaN,5.000000,5.000000,5.000000,NaN,5.000000,1.000000,2.000000
25%,9341.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.000000,29.000000,NaN,28.000000,29.000000,28.000000,NaN,29.000000,9.000000,158.000000
50%,16910.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.000000,52.000000,NaN,52.000000,52.000000,52.000000,NaN,53.000000,24.000000,474.000000
75%,24480.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.000000,76.000000,NaN,77.000000,77.000000,77.000000,NaN,77.000000,28.000000,536.000000
max,32048.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,NaN,100.000000,100.000000,100.000000,NaN,100.000000,100.000000,653.000000

In [15]:
df.columns.tolist()

['Sr_No',
 'Location_Coordinates',
 'Location',
 'Hospital_Name',
 'Hospital_Category',
 'Hospital_Care_Type',
 'Discipline_Systems_of_Medicine',
 'Address_Original_First_Line',
 'State',
 'District',
 'Subdistrict',
 'Pincode',
 'Telephone',
 'Mobile_Number',
 'Emergency_Num',
 'Ambulance_Phone_No',
 'Bloodbank_Phone_No',
 'Foreign_pcare',
 'Tollfree',
 'Helpline',
 'Hospital_Fax',
 'Hospital_Primary_Email_Id',
 'Hospital_Secondary_Email_Id',
 'Website',
 'Specialties',
 'Facilities',
 'Accreditation',
 'Hospital_Regis_Number',
 'Registeration_Number_Scan',
 'Nodal_Person_Info',
 'Nodal_Person_Tele',
 'Nodal_Person_Email_Id',
 'Town',
 'Subtown',
 'Village',
 'Establised_Year',
 'Ayush',
 'Miscellaneous_Facilities',
 'Number_Doctor',
 'Num_Mediconsultant_or_Expert',
 'Total_Num_Beds',
 'Number_Private_Wards',
 'Num_Bed_for_Eco_Weaker_Sec',
 'Empanelment_or_Collaboration_with',
 'Emergency_Services',
 'Tariff_Range',
 'State_ID',
 'District_ID']

In [65]:
required_columns = [
    'Hospital_Name',
    'District',
    'Location_Coordinates',
    'Emergency_Services',
    'Number_Doctor',
    'Total_Num_Beds',
    'Specialties',
    'Facilities'
]

df_clean = df[required_columns].copy()
df_clean.head()

,Hospital_Name,District,Location_Coordinates,Emergency_Services,Number_Doctor,Total_Num_Beds,Specialties,Facilities
0,Chakraborty Multi Speciality Hospital,South Andaman,"11.6357989, 92.7120575","ICU, Emergency Ward",79.0,0,0,0
1,Inhs Dhanvantri,South Andaman,"11.8311681, 92.6586401","ICU, Blood Bank",67.0,0,0,0
2,Maricar Hospital,South Andaman,"11.8311681, 92.6586401","Emergency Ward, Trauma Care",24.0,0,0,0
3,Pillar Health Centre,South Andaman,"11.6498468, 92.7294624","Emergency Ward, Trauma Care",21.0,0,0,0
4,"G B Pant Hospital, Port Blair",South Andaman,"11.6233774, 92.7264828","ICU, Emergency Ward, Blood Bank",NaN,0,"Surgery, Medicine, Gynaecology, Pediatrics, EN...",NaN

In [66]:
df_clean = df_clean.rename(columns={
    'Hospital_Name': 'hospital_name',
    'District': 'city',
    'Location_Coordinates': 'location_coordinates',
    'Emergency_Services': 'emergency_services',
    'Number_Doctor': 'number_doctor',
    'Total_Num_Beds': 'total_num_beds',
    'Specialties': 'specialties',
    'Facilities': 'facilities'
})

df_clean.columns.tolist()

['hospital_name',
 'city',
 'location_coordinates',
 'emergency_services',
 'number_doctor',
 'total_num_beds',
 'specialties',
 'facilities']

In [67]:
df_clean['location_coordinates'].head()

0    11.6357989, 92.7120575
1    11.8311681, 92.6586401
2    11.8311681, 92.6586401
3    11.6498468, 92.7294624
4    11.6233774, 92.7264828
Name: location_coordinates, dtype: object

In [68]:
df_clean[['latitude', 'longitude']] = (
    df_clean['location_coordinates']
    .astype(str)
    .str.split(',', expand=True)
)

df_clean['latitude'] = pd.to_numeric(df_clean['latitude'], errors='coerce')
df_clean['longitude'] = pd.to_numeric(df_clean['longitude'], errors='coerce')

In [69]:
df_clean = df_clean.dropna(subset=['latitude', 'longitude'])

In [70]:
import math

def haversine_distance(lat1, lon1, lat2, lon2):
    R = 6371
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = math.sin(dlat/2)**2 + math.cos(lat1)*math.cos(lat2)*math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))
    return R * c

In [22]:
# Example: accident location (Hyderabad)
user_lat = 17.3850
user_lon = 78.4867

In [80]:
print("Enter accident / emergency location:")

user_lat = float(input("Enter latitude: "))
user_lon = float(input("Enter longitude: "))

incident_type = input("Enter incident type (General Emergency): ")

print("\nInput received:")
print("Latitude:", user_lat)
print("Longitude:", user_lon)
print("Incident:", incident_type)

Enter accident / emergency location:
Enter latitude: 17.3850
Enter longitude: 78.4867
Enter incident type (General Emergency): ICU, Blood Bank

Input received:
Latitude: 17.385
Longitude: 78.4867
Incident: ICU, Blood Bank

In [81]:
df_clean['distance_km'] = df_clean.apply(
    lambda row: haversine_distance(
        user_lat, user_lon,
        row['latitude'], row['longitude']
    ),
    axis=1
)

df_clean[['hospital_name', 'city', 'distance_km']].head()

                           hospital_name           city  distance_km
0  Chakraborty Multi Speciality Hospital  South Andaman  1658.472800
1                        Inhs Dhanvantri  South Andaman  1644.312521
2                       Maricar Hospital  South Andaman  1644.312521
3                   Pillar Health Centre  South Andaman  1659.557449
4          G B Pant Hospital, Port Blair  South Andaman  1660.473623

In [102]:
emergency_keywords = [
    'icu',
    'blood bank',
    'emergency ward',
    'trauma care',
    'emergency'
]

In [103]:
df_clean['emergency_services_flag'] = df_clean['emergency_services'] \
    .astype(str) \
    .str.lower() \
    .apply(lambda x: any(keyword in x for keyword in emergency_keywords))

In [104]:
df_clean[['hospital_name', 'emergency_services', 'emergency_services_flag']].head(10)

,hospital_name,emergency_services,emergency_services_flag
0,Chakraborty Multi Speciality Hospital,"ICU, Emergency Ward",True
1,Inhs Dhanvantri,"ICU, Blood Bank",True
2,Maricar Hospital,"Emergency Ward, Trauma Care",True
3,Pillar Health Centre,"Emergency Ward, Trauma Care",True
4,"G B Pant Hospital, Port Blair","ICU, Emergency Ward, Blood Bank",True
5,"Care Hospital, Banjara","ICU, Emergency Ward",True
6,Aasha Hospitals,"ICU, Emergency Ward, Blood Bank",True
8,Baby Hospital,Emergency Ward,True
9,Dr Akbar Eye Hospital And Laser Centre,"ICU, Emergency Ward",True
11,Hrudaya Children Hospital,"ICU, Emergency Ward, Blood Bank",True

In [90]:
df['Emergency_Services']

0                    ICU, Emergency Ward
1                        ICU, Blood Bank
2            Emergency Ward, Trauma Care
3            Emergency Ward, Trauma Care
4        ICU, Emergency Ward, Blood Bank
                      ...
30268                     Emergency Ward
30269       ICU, Trauma Care, Blood Bank
30270    ICU, Emergency Ward, Blood Bank
30271                     Emergency Ward
30272                ICU, Emergency Ward
Name: Emergency_Services, Length: 30273, dtype: object

In [105]:
df_clean['total_num_beds'] = pd.to_numeric(
    df_clean['total_num_beds'], errors='coerce'
).fillna(0)

In [106]:
general_emergency_hospitals = df_clean[
    (df_clean['emergency_services_flag']) &
    (df_clean['total_num_beds'] > 0)
].copy()

print("Hospitals suitable for general emergency:", len(general_emergency_hospitals))

Hospitals suitable for general emergency: 27

In [108]:
general_emergency_hospitals['distance_score'] = (
    1 / (general_emergency_hospitals['distance_km'] + 1)
)

general_emergency_hospitals['bed_score'] = (
    general_emergency_hospitals['total_num_beds'] /
    general_emergency_hospitals['total_num_beds'].max()
)

general_emergency_hospitals['suitability_score'] = (
    0.7 * general_emergency_hospitals['distance_score'] +
    0.3 * general_emergency_hospitals['bed_score']
)

top_3 = general_emergency_hospitals.sort_values(
    by='suitability_score',
    ascending=False
).head(3)

top_3[
    ['hospital_name', 'city', 'distance_km',
     'total_num_beds', 'suitability_score']
]

,hospital_name,city,distance_km,total_num_beds,suitability_score
11019,Vijayashree Hospitals,Bengaluru Urban,512.716511,9686825522,0.301363
10914,Jayashree Multispeciality Hospital,Bengaluru Urban,498.111022,23,0.001402
10875,Apollo Speciality Hospital,Bengaluru Urban,502.906583,250,0.001389

In [109]:
print("Sample hospitals after distance calculation:")
df_clean[['hospital_name', 'city', 'distance_km']].head(5)

Sample hospitals after distance calculation:

                           hospital_name           city  distance_km
0  Chakraborty Multi Speciality Hospital  South Andaman  1658.472800
1                        Inhs Dhanvantri  South Andaman  1644.312521
2                       Maricar Hospital  South Andaman  1644.312521
3                   Pillar Health Centre  South Andaman  1659.557449
4          G B Pant Hospital, Port Blair  South Andaman  1660.473623

In [110]:
print("Filtered hospitals count:", len(general_emergency_hospitals))

Filtered hospitals count: 27

In [111]:
print("Top 3 hospitals:")
top_3

Top 3 hospitals:

,hospital_name,city,location_coordinates,emergency_services,number_doctor,total_num_beds,specialties,facilities,latitude,longitude,distance_km,emergency_services_flag,distance_score,bed_score,suitability_score
11019,Vijayashree Hospitals,Bengaluru Urban,"12.8561618, 77.5889291","ICU, Emergency Ward, Blood Bank",44.0,9686825522,0,0,12.856162,77.588929,512.716511,True,0.001947,1.000000e+00,0.301363
10914,Jayashree Multispeciality Hospital,Bengaluru Urban,"12.9993935, 77.540421","ICU, Emergency Ward, Blood Bank",98.0,23,"Electrocardiogram (ECG), Echocardiography, End...","24/7 Pharmacy, 24/7 Casualty Care, Ambulance, ...",12.999394,77.540421,498.111022,True,0.002004,2.374359e-09,0.001402
10875,Apollo Speciality Hospital,Bengaluru Urban,"12.9587626, 77.5235076","Emergency Ward, Blood Bank",42.0,250,"Cardiac surgery, General and Gastro-intestina...","Thallium Laser, Holmium Laser, Digital X-Ray, ...",12.958763,77.523508,502.906583,True,0.001984,2.580825e-08,0.001389